#!/bin/bash
# sidekiq    Init script for Sidekiq
# chkconfig: 345 100 75
#
# Description: Starts and Stops Sidekiq message processor for Stratus application.
#
# User-specified exit parameters used in this script:
#
# Exit Code 5 - Incorrect User ID
# Exit Code 6 - Directory not found

APP_PATH="{{ rails.unicorn.directory }}"
AS_USER="deploy"

LOG_FILE="$APP_PATH/log/sidekiq.log"
LOCK_FILE="$APP_PATH/tmp/sidekiq-lock"
PID_FILE="$APP_PATH/tmp/pids/sidekiq.pid"

# App specific environment variables injected with ansible.
ENV_VARIABLES=""
{% if rails.environment_variables %}
{% for k,v in rails.environment_variables.iteritems() %}
    ENV_VARIABLES="{{ k }}={{ v }} $ENV_VARIABLES"
  {% endfor %}
{% endif %}


START_CMD="bundle exec sidekiq -e production -P ${PID_FILE}"
CMD="cd ${APP_PATH}; ${ENV_VARIABLES} ${START_CMD} >> ${LOG_FILE} 2>&1 &"

RETVAL=0


start() {

  status
  if [ $? -eq 1 ]; then

    [ `id -u` == '0' ] || (echo "Sidekiq runs as root only .."; exit 5)
    [ -d $APP_PATH ] || (echo "$APP_PATH not found!.. Exiting"; exit 6)
    cd $APP_PATH
    echo "Starting Sidekiq message processor .. "

    su -c "$CMD" - $AS_USER

    RETVAL=$?
    #Sleeping for 8 seconds for process to be precisely visible in process table - See status ()
    sleep 8
    [ $RETVAL -eq 0 ] && touch $LOCK_FILE
    return $RETVAL
  else
    echo "Sidekiq message processor is already running .. "
  fi


}

stop() {

    echo "Stopping Sidekiq message processor .."
    SIG="INT"
    kill -$SIG `cat  $PID_FILE`
    RETVAL=$?
    [ $RETVAL -eq 0 ] && rm -f $LOCK_FILE
    return $RETVAL
}

restart() {
  if [ -f $LOCK_FILE ]; then
    stop
  fi

  start
}

status() {

  ps -ef | grep 'sidekiq [0-9]\+.[0-9]\+.[0-9]' | grep -v grep
  return $?
}


case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    status)
        status

        if [ $? -eq 0 ]; then
             echo "Sidekiq message processor is running .."
             RETVAL=0
         else
             echo "Sidekiq message processor is stopped .."
             RETVAL=1
         fi
        ;;
    *)
        echo "Usage: $0 {start|stop|status|restart}"
        exit 0
        ;;
esac
exit $RETVAL
