{
	"service": {
		"name": "{{ consul_services.type }}_{{ consul_services.name }}",
		"tags": {{ consul_services.tags|safe }},
		"port": {{ consul_services.port }},
		"check": {
			"notes": "Check that {{ consul_services.type }} {{ consul_services.name }} is running",
			"script": "/usr/local/bin/check_rails_{{ consul_services.name }}.sh {{ consul_services.name }}",
			"interval": "{{ consul_services.interval }}"
		}
	}
}
